<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Creative portfolio of Nico Csanyi!" />
    <meta name="keywords" content="Nico Csanyi, portfolio">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="HandheldFriendly" content="true">
    <meta name="author" content="Nico Csanyi - Portfolio" />
    <title>Nico Csanyi | Portfolio</title>
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css" />
</head>

<body>
    <%- yield %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="assets/javascripts/contactform.js"></script>
        <script src="assets/javascripts/core.js"></script>
        <script src="assets/javascripts/jquery.form.min.js"></script>
        <script src="assets/javascripts/jquery.popup.js"></script>
        <script src="assets/javascripts/jquery.validate.min.js"></script>
        <script src="assets/javascripts/shadowbox.js"></script>
        <script src="assets/javascripts/velocity.js"></script>
</body>

</html>